{block title}
	Administrace
{/block}

{block content}
	<div class="card">
		<div class="card-header">
			Základní statistiky
		</div>
		<table class="table table-bordered mb-0">
			<tbody>
				<tr>
					<td>Celkem produktů</td>
					<td>{$stats['all']}</td>
				</tr>
				<tr>
					<td>&emsp;- již není v nabídce</td>
					<td>{$stats['inactive']}</td>
				</tr>
				<tr>
					<td>&emsp;- stále v nabídce</td>
					<td>{$stats['active']}</td>
				</tr>
				<tr>
					<td>&emsp;&emsp;- na skladě</td>
					<td>{$stats['available']}</td>
				</tr>
				<tr>
					<td>&emsp;&emsp;- nedostupných na skladě</td>
					<td>{$stats['unavailable']}</td>
				</tr>
			</tbody>
		</table>
	</div>
{/block}
