{block title}
{/block}
{block content}
	<div class="jumbotron jumbotron-fluid pt-0 mt-3">
		<img src="{$basePath}/images/products/{$product->getAbbr()}.{$product->getImageExt()}" class="img-fluid p-5 pb-0" alt="Obrázek produktu">
		<div class="container px-5 pt-0">
			<h5>
				<a n:foreach="$product->getCategories() as $category" class="badge badge-info badge-link" n:href="list, 'category' => $category->getId()">
				{$category->getName()}
				</a>&emsp;
			</h5>
			<h1 class="display-4 mt-0">{$product->getName()}</h1>
			<p class="lead">{$product->getDescription()}</p>
			<hr class="my-5">
			{if $product->isCanceled()}<p>Prodej produktu byl {$product->getCancelDate()|date: "d. m. Y"} zrušen.</p>{else}
			{if $product->isAvailable()}<p>Produkt je dostupný na skladě.</p>{else}<p>Produkt je nedostupný od {$product->getStockEmptyDate()|date: "d. m. Y"}.</p>{/if}
			{/if}
			<p class="btn btn-success btn-lg">{$product->getPrice()} Kč</p>
			<a n:href="list" class="btn btn-primary btn-lg mr-0 float-right" tabindex="14">Seznam produktů</a>
		</div>
	</div>
{/block}
