{block title}
	Seznam produktů
{/block}
{block content}
	<div class="list-group" role="tablist">
		<div class="list-group-item text-center" role="tab" id="filterHeading">
			<a class="btn btn-primary" data-toggle="collapse" href="#filters" role="button" aria-expanded="true"
			   aria-controls="filters" tabindex="14">
				Filtrovat produkty
			</a>
			<div id="filters" class="collapse" role="tabpanel" aria-labelledby="filterHeading">
				<hr>
				{form filter}
					<div n:foreach="$form->errors as $error" class="alert alert-danger alert-dismissible fade show" role="alert">
						{$error}
						<button type="button" class="close" data-dismiss="alert" aria-label="Zavřít">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="form-row col-6 mx-auto">
						<div class="form-group col-5">
							{label priceStart /}
							{input priceStart, class => "form-control", tabindex => 15}
						</div>
						<div class="ml-5 form-group col-5">
							{label orderBy /}
							{input orderBy, class => "form-control", tabindex => 16}
						</div>
					</div>
					<div class="form-row col-6 mx-auto">
						<div class="form-group col-5">
							{label priceEnd /}
							{input priceEnd, class => "form-control", tabindex => 17}
						</div>
						<div class="ml-5 form-group col-5">
							{label orderType /}
							{input orderType, class => "form-control", tabindex => 18}
						</div>
					</div>
					<div class="form-group col-3 mx-auto">
						{label category /}
						{input category, class => "form-control", tabindex => 19}
					</div>
					<div class="form-group">
						<div class="form-check">
							{input available:, tabindex => 20}
							{label available:, class => "form-check-label" /}
						</div>
					</div>
					{input submit, class => "btn btn-primary button-link", tabindex => 21}
					<a n:href="list" class="btn btn-dark" tabindex="22">Resetovat filtry</a>
				{/form}
			</div>
		</div>
		{var $tabindex = 22}
		<a n:href="detail $product->getId()" class="list-group-item list-group-item-action flex-column align-items-start" n:foreach="$products as $product" tabindex="{$tabindex}">
			{var $tabindex += 1}
			<div class="d-flex w-100 justify-content-between">
				<h5 class="mb-1">{$product->getName()|upper}</h5>
				<small>V nabídce od {$product->getReleaseDate()|date: "d. m. Y"} </small>
			</div>
			<div class="text-truncate mb-3">{$product->getDescription()}</div>
			<p class="btn btn-success btn-sm">{$product->getPrice()} Kč</p>
			<small class="float-right">{if $product->getStockEmptyDate()}Nedostupný od {$product->getStockEmptyDate()|date: "d.m.y"}{else}Dostupný na skladě{/if}</small>
		</a>
		<div class="list-group-item">
			<nav aria-label="Stránkování" class="mt-3">
				<ul class="pagination justify-content-center">
					<li class="page-item{if $paginator->isFirst()} disabled{/if}">
						<a n:href="this 1, $items" class="page-link" tabindex="{$tabindex++}">První</a>
					</li>
					<li class="page-item{if $paginator->isFirst()} disabled{/if}">
						<a n:href="this $paginator->page-1, $items" class="page-link" tabindex="{$tabindex++}">Předchozí</a>
					</li>
					{if $paginator->getPage()}
					{/if}
					<li class="page-item disabled">
						<a n:href="this $paginator->page, $items" class="page-link">Strana {$paginator->page} {if $paginator->pageCount > 1 && $paginator->pageCount < 5}ze{else}z{/if} {$paginator->pageCount}</a>
					</li>
					<li class="page-item{if $paginator->isLast()} disabled{/if}">
						<a n:href="this, $paginator->page+1, $items" class="page-link" tabindex="{$tabindex++}">Další</a>
					</li>
					<li class="page-item{if $paginator->isLast()} disabled{/if}">
						<a n:href="this $paginator->pageCount, $items" class="page-link" tabindex="{$tabindex++}">Poslední</a>
					</li>
				</ul>
				<div class="text-center">
					<h5>
						Produktů na stranu:
						<a n:href="this, $paginator->page, 5" class="btn btn-primary px-2 py-0{if $items === 5} disabled{/if}" tabindex="{$tabindex++}">5</a>
						<a n:href="this, $paginator->page, 10" class="btn btn-primary px-2 py-0{if $items === 10} disabled{/if}" tabindex="{$tabindex++}">10</a>
						<a n:href="this, $paginator->page, 25" class="btn btn-primary px-2 py-0{if $items === 25} disabled{/if}" tabindex="{$tabindex++}">25</a>
					</h5>
				</div>
			</nav>
		</div>
	</div>
{/block}
