{block title}
	Registrace
{/block}
{block content}
	{form register}
		<div n:foreach="$form->errors as $error" class="alert alert-danger alert-dismissible fade show col-6 mx-auto" role="alert">
			{$error}
			<button type="button" class="close" data-dismiss="alert" aria-label="Zavřít">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="form-group col-4 mx-auto mt-5">
			{label username, class => "text-light"}
			{input username, class => "form-control", autofocus => "true", tabindex => 1}
		</div>
		<div class="form-group col-4 mx-auto">
			{label password, class => "text-light"}
			{input password, class => "form-control", tabindex => 2}
		</div>
		<div class="form-group col-4 mx-auto">
			{label passwordCheck, class => "text-light"}
			{input passwordCheck, class => "form-control", tabindex => 3}
		</div>
		<div class="form-group col-4 mx-auto">
			{label mail, class => "text-light"}
			{input mail, class => "form-control", tabindex => 4}
		</div>
		<div class="form-group col-1 mx-auto mt-4">
			{input submit, class => "btn btn-dark", tabindex => 5}
		</div>
		<div class="col-2 mx-auto">
			<small class="form-text text-light">Je nutno vyplnit všechna pole</small>
		</div>
	{/form}
{/block}
