@font-face {
	font-family: 'gidol';
	src: url('../font/gidol-webfont.woff');
}

body {
	/*background-image: url('../images/bg_street.jpg');*/
	background-repeat: no-repeat;
	background-position: 0 3em;
	background-color: rgb(20, 130, 235);
	font-family: 'gidol', 'sans-serif';
}

a {
	color: inherit;
}

div.layout-button {
	z-index: 10;
	position: fixed;
	top: 1em;
	right: 0;
	color: #fff;
	font-weight: bold;
}
div.layout-button.home {
	left: 0;
	margin-left: 4em;
}

div.layout-button > a {
	background-color: rgb(20, 130, 235);
	float: right;
	line-height: 2.4em;
	padding: .5em 2em;
	text-decoration: none;
	border: 2px solid #fff;
	border-radius: 5px;
	margin-right: 4em;
	transition: background-color .15s
}
div.layout-button > a:hover,
div.layout-button > a:focus {
	color: #fff;
	background-color: rgb(10, 100, 200);
	transition: background-color .15s
}
div.layout-button.home > a {
	float: left;
}

.container {
	margin: 0 auto;
	padding-top: 5em;
	width: 100%;
	max-width: 1140px;
	border-radius: 10px;
}

.container h1 {
	text-align: center;
	font-size: 60pt;
	margin-bottom: 1em;
	margin-top: 1em;
	font-family: 'gidol', 'sans-serif'
}

.button-link {
	cursor: pointer;
}

.row {
	display: flex;
	flex-flow: row wrap;
	margin: 0 auto;
	height: 300px;
	max-width: 900px;
}
.card.lower {
	border-top: none;
	height: 200px;
}
.card.lower > a {
	display: block;
	margin: auto;
	padding: 1em 2em;
	color: black;
	border: 2px solid black;
	border-radius: 5px;
	text-decoration: none;
	font-weight: bold;
}

.card.no-bottom-radius {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.card-body.card-min-height {
	min-height: 100px;
}
.card:first-of-type {
	flex-basis: 100%;
	border-bottom-left-radius: 0;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.card-group.card {
	border: 2px solid black
}
.card-body > a:hover {
	text-decoration: none;
	color: initial;
}
.card-body {
	min-height: 8em;
	bottom: 0;
}

/* overrides _border-radius.scss in bootstrap */
@media (min-width: 576px) {
	.card-group .card:first-child {
		border-top-right-radius: 10px;
	}
	.card-group .card:nth-of-type(2) {
		border-bottom-left-radius: 10px !important;
	}
	.card-group .card:last-child {
		border-top-right-radius: 0 !important;
		border-bottom-right-radius: 10px;
	}
}