<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
		  integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
		  crossorigin="anonymous">
	<link rel="stylesheet" href="{$basePath}/styles/layout.css" type="text/css">

	<title>{ifset title}{include title|stripHtml} | {/ifset}FIRMA</title>
</head>

<body>

{ifCurrent :Front:Home:default}{else}
	<div class="layout-button home">
		<a n:href="Home:default" tabindex="10">Úvodní strana</a>
	</div>
{/ifCurrent}
{ifCurrent :Front:Account:login}{else}
	<div class="layout-button account" n:if="!$user->isLoggedIn()">
		<a n:href="Account:login" tabindex="11">Login</a>
	</div>
{/ifCurrent}
<div class="layout-button account" n:if="$user->isLoggedIn()">
	<a n:href="Account:logout" tabindex="13">Logout</a>
	<a n:href=":Admin:Home:default" tabindex="12">Administrace</a>
	<a n:href=":Admin:Employee:edit $user->getId()" tabindex="11">Uživatel "{$user->getAccountEntity()->getUsername()}"</a>
</div>
<div class="container">
	<div n:foreach="$flashes as $flash" class="alert alert-{$flash->type} alert-dismissible fade show col-8 mx-auto" role="alert">
		{$flash->message}
		<button type="button" class="close" data-dismiss="alert" aria-label="Zavřít">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	{include content}
</div>

{block scripts}
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
			integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
			crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
			integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
			crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
			integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
			crossorigin="anonymous"></script>
	<script src="https://nette.github.io/resources/js/netteForms.min.js"></script>
{/block}
</body>
</html>
