{block content}
	<div class="card text-center">
		<div class="card-header">
			Přidat kategorii
		</div>
		<div class="card-body">
			{form addCategory}
				<div n:foreach="$form->errors as $error" class="alert alert-danger alert-dismissible fade show" role="alert">
					{$error}
					<button type="button" class="close" data-dismiss="alert" aria-label="Zavřít">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="form-row">
					<div class="form-group col-3">
						{label abbr /}
						{input abbr, class => "form-control", tabindex => 1}
					</div>
					<div class="form-group col-6">
						{label name /}
						{input name, class => "form-control", tabindex => 2}
					</div>
				</div>
				{input submit, class => "btn btn-primary", tabindex => 3}
				<small class="form-text text-muted">Všechna pole formuláře je nutno vyplnit</small>
			{/form}
		</div>
		<div class="card-header border border-left-0 border-right-0">
			Seznam kategorií
		</div>
		<table class="table table-bordered mb-0">
			<thead>
			<tr>
				<th>ID</th>
				<th>Zkratka</th>
				<th>Jméno</th>
				<th>Počet produktů</th>
				<th colspan="2">Akce</th>
			</tr>
			</thead>
			<tbody>
			<tr n:foreach="$categories as $category">
				<td>{$category->getId()}</td>
				<td>{$category->getAbbr()}</td>
				<td>{$category->getName()}</td>
				<td>{count($category->getProducts())}</td>
				<td><a n:href="edit, $category->getId()">Upravit</a></td>
				<td><a n:href="remove, $category->getId()">Odebrat</a></td>
			</tr>
			</tbody>
		</table>
	</div>
{/block}
