{block title}
	Úprava kategorie
{/block}
{block content}
	<div class="card text-center">
		<div class="card-header">
			Upravit kategorii #{$id}
		</div>
		<div class="card-body">
			{form editCategory}
				<div n:foreach="$form->errors as $error" class="alert alert-danger alert-dismissible fade show" role="alert">
					{$error}
					<button type="button" class="close" data-dismiss="alert" aria-label="Zavřít">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="form-row">
					<div class="form-group col-3">
						{label abbr /}
						{input abbr, class => "form-control", tabindex => 1}
					</div>
					<div class="form-group col-6">
						{label name /}
						{input name, class => "form-control", tabindex => 2}
					</div>
				</div>
				{input submit, class => "btn btn-primary", tabindex => 3}
				<small class="form-text text-muted">Všechna pole formuláře je nutno vyplnit</small>
			{/form}
		</div>
	</div>
{/block}
