{block title}
	Zaměstnanci
{/block}
{block content}
	<div class="card text-center">
		<div class="card-body">
			<a n:href="addToken" id="createToken">
				<button class="btn btn-primary button-link">Vygenerovat odkaz pro registraci</button>
			</a>
		</div>
		<div class="card-header border border-left-0 border-right-0">
			Seznam odkazů
		</div>
		<table class="table table-bordered mb-0" id="tokenTable">
			<tr n:foreach="$tokens as $token">
				<td><a href="{$baseUrl}/{$token->getToken()}">{$baseUrl}/{$token->getToken()}</a></td>
				<td><a n:href="removeToken, $token->getId()" onclick="removeToken(event, {$token->getId()})" id="remove{$token->getId()}">Odebrat</a></td>
			</tr>
		</table>
		<div class="card-header border border-left-0 border-right-0">
			Seznam zaměstnanců
		</div>
		<table class="table table-bordered mb-0">
			<thead>
			<tr>
				<th>ID</th>
				<th>Uživatelské jméno</th>
				<th>E-Mail</th>
				<th>Admin</th>
				<th colspan="2">Akce</th>
			</tr>
			</thead>
			<tbody>
			<tr n:foreach="$accounts as $account">
				<td>{$account->getId()}</td>
				<td>{$account->getUsername()}</td>
				<td>{$account->getMail()}</td>
				<td>{$account->isAdmin() ? 'Ano' : 'Ne'}</td>
				<td><a n:href="edit, $account->getId()">Upravit</a></td>
				<td><a n:href="remove, $account->getId()">Odebrat</a></td>
			</tr>
			</tbody>
		</table>
	</div>
{/block}
{block extraScript}
	<script>
		$('a#createToken').click(function (e) {
			e.preventDefault();
			$.ajax({
				url: 'add-token?ajax=1'
			}).done(function (data) {
				data = JSON.parse(data);
				$('div.container').prepend('<div class="alert alert-success alert-dismissible fade show" role="alert">Odkaz vytvořen - <a href="' + data.link + '">' + data.link + '</a><button type="button" class="close" data-dismiss="alert" aria-label="zavřít"><span aria-hidden="true">&times;</span></button></div>');
				$('table#tokenTable').append('<tr><td><a href="' + data.link + '">' + data.link + '</a></td><td><a href="/admin/employee/remove-token/' + data.id + '">Odebrat</a></td></tr>');
			});
		});

		function removeToken(link, id) {
			link.preventDefault();
			$.ajax({
				url: 'remove-token/' + id
			}).done(function (data) {
				$('a#remove' + id).parent('td').parent('tr').remove();
			});
		}
	</script>
{/block}