{block title}
	Úprava zaměstnance
{/block}
{block content}
	<div class="card text-center">
		<div class="card-header">
			Upravit zaměstnance #{$id}
		</div>
		<div class="card-body">
			{form editEmployee}
				<div n:foreach="$form->errors as $error" class="alert alert-danger alert-dismissible fade show" role="alert">
					{$error}
					<button type="button" class="close" data-dismiss="alert" aria-label="Zavřít">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="form-group mr-auto ml-auto col-4">
					{label mail /}
					{input mail, class => "form-control", tabindex => 1}
				</div>
				<div class="form-check">
					{input admin, class => "form-check-input", tabindex => 2}
					{label admin, class => "form-check-label" /}
				</div>
				{input submit, class => "btn btn-primary", tabindex => 3}
				<small class="form-text text-muted">E-Mail musí být vyplněn</small>
			{/form}
		</div>
	</div>
{/block}
