{block title}
	Produkty
{/block}
{block content}
	<div class="card text-center">
		<div class="card-header">
			Přidat produkt
		</div>
		<div class="card-body">
			{form addProduct}
				<div n:foreach="$form->errors as $error" class="alert alert-danger alert-dismissible fade show" role="alert">
					{$error}
					<button type="button" class="close" data-dismiss="alert" aria-label="Zavřít">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="form-row col-8 mx-auto">
					<div class="form-group col-4">
						{label abbr /}
						{input abbr, class => "form-control", tabindex => 1}
					</div>
					<div class="form-group col-8">
						{label name /}
						{input name, class => "form-control", tabindex => 2}
					</div>
				</div>
				<div class="form-row col-8 mx-auto">
					<div class="form-group col-6">
						{label categories /}
						{input categories, class => "form-control", tabindex => 3}
					</div>
					<div class="form-group col-5 ml-auto">
						{label price /}
						{input price, class => "form-control", tabindex => 4}
					</div>
				</div>
				<div class="form-row col-8 mx-auto">
					<div class="form-group col-6">
						{label description /}
						{input description, class => "form-control", tabindex => 5, rows => 3}
					</div>
					<div class="form-group col-5 ml-auto">
						{label image /}
						{input image, class => "btn btn-dark col-12", tabindex => 6}
					</div>

				</div>
				{input submit, class => "btn btn-primary", tabindex => 7}
				<input type="reset" class="btn btn-dark" tabindex="8" value="Resetovat data">
				<small class="form-text text-muted">Je nutno vyplnit zkratku, název, kategorie a cenu</small>
			{/form}
		</div>
		<div class="card-header border border-left-0 border-right-0">
			Seznam produktů
		</div>
		<table class="table table-bordered mb-0">
			<tr>
				<th>ID</th>
				<th>Zkratka</th>
				<th>Jméno</th>
				<th>Přidán</th>
				<th>Nedostupný od</th>
				<th>Prodej zrušen</th>
				<th colspan="3">Akce</th>
			</tr>
			<tr n:foreach="$products as $product">
				<td>{$product->getId()}</td>
				<td>{$product->getAbbr()}</td>
				<td>{$product->getName()}</td>
				<td>{$product->getReleaseDate()|date: "d.m.Y H:i"}</td>
				<td>{$product->getStockEmptyDate() ? ($product->getStockEmptyDate()|date: "d.m.Y H:i") : '---'}</td>
				<td>{$product->getCancelDate() ? ($product->getCancelDate()|date: "d.m.Y H:i") : 'Ne'}</td>
				{if $product->getCancelDate() === null}
					<td>
						<a n:if="$product->getStockEmptyDate() === null" n:href="markUnavailable, $product->getId()">Nedostupný</a>
						<a n:if="$product->getStockEmptyDate() !== null" n:href="markAvailable, $product->getId()">Dostupný</a>
					</td>
					<td><a n:href="edit, $product->getId()">Upravit</a></td>
					<td><a n:href="remove, $product->getId()">Odebrat</a></td>
				{else}
					<td colspan="3">---</td>
				{/if}
			</tr>
		</table>
	</div>
{/block}