{block content}
	<h1>
		SUPEROBCHOD
	</h1>
	<div class="card-group row">
		<div class="row card lower">
			<a n:href="Product:list" tabindex="14">Seznam všech produktů</a>
		</div>
		<div class="card no-bottom-radius mb-2" n:foreach="$products as $product">
			<a n:href="Product:detail $product->getId()">
				<img src="{$basePath}/images/products/{$product->getAbbr()}.{$product->getImageExt()}" alt="{$product->getAbbr()}"
					 class="img-fluid" n:if="$product->getImageExt() !== null">
			</a>
			<div class="card-body">
				<a n:href="Product:detail $product->getId()">
					<h5 class="card-title">{$product->getName()}</h5>
					<p class="card-text text-success">{$product->getPrice()} Kč</p>
				</a>
			</div>
			<div class="card-footer">
				<small class="text-muted">V nabídce od<br>{$product->getReleaseDate()|date:"d.m.Y"}</small>
			</div>
		</div>
		<div class="card no-bottom-radius" n:if="empty($products)">
			<div class="card-body card-min-height">
				<h5 class="card-title">Aktuálně není dostupný žádný produkt</h5>
				<p class="card-text" n:if="$user->isLoggedIn()">Přidejte jej pomocí
					<a n:href=":Admin:Product:default">
						<button class="btn btn-link button-link">administrace</button>
					</a>
				</p>
			</div>
		</div>
	</div>
{/block}
