<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
		  integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	<link rel="stylesheet" href="{$basePath}/styles/layout-admin.css" type="text/css">

	<title>{ifset title}{include title|stripHtml} | {/ifset}FIRMA</title>
</head>

<body>

<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
	<a class="navbar-brand" n:href=":Front:Home:default">ÚVODNÍ STRANA</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false"
			aria-label="Zobrazit menu" tabindex="15">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarContent">
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link{ifCurrent Home:default} active{/ifCurrent}" n:href="Home:default" tabindex="10">Statistiky</a>
			</li>
			<li class="nav-item">
				<a class="nav-link{ifCurrent Product:*} active{/ifCurrent}" n:href="Product:default" tabindex="11">Produkty</a>
			</li>
			<li class="nav-item">
				<a class="nav-link{ifCurrent Category:*} active{/ifCurrent}" n:href="Category:default" tabindex="12">Kategorie</a>
			</li>
			<li class="nav-item">
				<a class="nav-link{ifCurrent Employee:*} active{/ifCurrent}" n:href="Employee:default" tabindex="13">Zaměstnanci</a>
			</li>
		</ul>
		<ul class="navbar-nav ml-auto">
			<li class="nav-item">
				<a class="nav-link" n:href=":Front:Account:logout" tabindex="14">Logout</a>
			</li>
		</ul>
	</div>
</nav>
<div class="container">
	<div n:foreach="$flashes as $flash" class="alert alert-{$flash->type} alert-dismissible fade show" role="alert">
		{$flash->message|noescape}
		<button type="button" class="close" data-dismiss="alert" aria-label="Zavřít">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	{include content}
</div>

{block scripts}
	<script	src="https://code.jquery.com/jquery-3.2.1.min.js"
			integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
			crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
			integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
			crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
			integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
			crossorigin="anonymous"></script>
	<script src="https://nette.github.io/resources/js/netteForms.min.js"></script>
	{block extraScript}{/block}
{/block}
</body>
</html>
